h1 {
    font: sans-serif;
    font-size: 32px;
    text-align: center;
    color: steelblue;
    
}

.allotted div{
    font: sans-serif;
    font-size: 20px;
    background-color: steelblue;
    text-align: left;
    color: lightblue;
    margin: 1px;
    padding: 5px;
    
}

.unallocated div {
    font: sans-serif;
    font-size: 20px;
    background-color: lightblue;
    text-align: left;
    color: steelblue;
    margin: 1px;
    padding: 5px;
    
}

h2 {
    font: sans-serif;
    font-size: 32px;
    text-align: center;
    color: #ff4d4d;
    
}

.rallotted div{
    font: sans-serif;
    font-size: 20px;
    background-color: #ff4d4d;
    text-align: left;
    color: pink;
    margin: 1px;
    padding: 5px;
    
}

.runallocated div {
    font: sans-serif;
    font-size: 20px;
    background-color: pink;
    text-align: left;
    color: #ff4d4d;
    margin: 1px;
    padding: 5px;
    
}